@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title> Welcome to @ViewBag.Title</title>
</head>
<body>
    <header class="container">
        <h1>Welcome to ShoppingOL</h1>

        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            </ul>
        </menu>
    </header>
    <section class="container">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>

    <footer class="container">
        copyright 2019
    </footer>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/index.js"></script>
    @RenderSection("scripts",false)
</body>
</html>